<div class="container">
  <div class="header">
    <h1>Marktplaats Notifier</h1>
  </div>
  <div class="body">
    <div class="section">
      <mat-card class="query-card">
        <div class="queries">
          <mat-selection-list *ngIf="queries" [multiple]="false">
            <mat-list-option [selected]="query.id === selectedQueryId" (click)="onSetSelectedQuery(query.id)" *ngFor="let query of queries" [value]="query">
              <div class="list-item">
                <div class="query-name">{{query.name}}</div>
                <button [disabled]="isProcessing" (click)="onRunQuery(query.id)" mat-icon-button>
                  <mat-icon>play_circle</mat-icon>
                </button>
                <button (click)="onRemoveQuery(query.id)" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-option>
          </mat-selection-list>
          <button class="add-item" mat-stroked-button color="primary" (click)="onNewQuery()">Nieuwe
            zoekopdracht</button>
        </div>
      </mat-card>

      <mat-card class="query-card">
        <div *ngIf="!newQuery && selectedQuery" class="full-width">

          <h3>Geslecteerde zoekopdracht</h3>
          
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" [(ngModel)]="selectedQuery.name">
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Url" [(ngModel)]="selectedQuery.url"></textarea>
          </mat-form-field>       
        </div>

        <div *ngIf="newQuery" class="full-width">
          <h3>Nieuwe zoekopdracht</h3>
          <form [formGroup]="newQueryForm">
            <mat-form-field class="full-width">
              <input formControlName="name" matInput placeholder="Naam">
            </mat-form-field>       
            <mat-form-field class="full-width">
              <textarea formControlName="url" matInput placeholder="url"></textarea>
            </mat-form-field>       
          </form>
        </div>
        <button class="" mat-stroked-button color="primary" (click)="onSave()">Opslaan</button>
      </mat-card>
    </div>

    <div class="section" *ngIf="errorOccured">

    </div>
    <div class="section" *ngIf="selectedQuery?.advertisements">
      <mat-card class="advertisement-card" *ngFor="let item of selectedQuery.advertisements">
        <div class="card-header">
          <mat-card-title>{{item.title}}</mat-card-title>
        </div>
        <div class="card-content">
          <img class="card-image" src="{{item.imageUrl}}" alt="Photo {{item.title}}">
          <div class="card-text">
            <p>{{item.description}}</p>
            <div class="card-footer">
              <h3>Prijs: {{item.price}}</h3>
              <a mat-raised-button href="{{item.url}}" target="_blank">Ga naar advertentie</a>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>