.flex {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  height: 100vh;
}

.devider{
  margin-bottom: 8px;
  position: fixed;
  height: 81px;
  width: 100%;
  z-index: 1;
  background-color: #557a95;
  box-shadow: 0px 2px 9px 1px #6c6c6c;
}

.header{
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 2px 2px 0px #242e35;
}

.header-content {
  display: flex;
  background-color: #557A95;
  padding: 24px 32px 24px;
  
  h1 {
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.25px;
    margin-bottom: 0;
    color: white;
  }
}

.body {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}


.section {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.settings {
  height: 100%;
  position: fixed;
  width: 600px;
}

.section:first-child{
  // width: 33%;
  width: 600px;
  background-color: #fafafa;  
}

.section:last-child{
  // width: 66%;
   width: 100%;
   background-color: #fafafa;
}


.advertisement-card {
  margin: 32px;
  height: 320px;
  max-width: 1024px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;

.card-header {
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  height: max-content;
}

.card-content {
  display: flex;
  flex-direction: row;
  margin-left: 32px;
  height: 200px;
}

.card-image {
  margin: 0;
  width: 240px;
}

.card-text {
  margin-left: 32px;
  margin-right: 32px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  
  h3 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
  }
}
}

.query-card {
  margin-top: 32px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}

.full-width{
  width: 100%;
}

.queries {
  width: 100%;
  display: flex;
  flex-direction: column;

  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .query-name{
      width: 100%;
    }
  }

  .add-item {
    margin-top: 16px;
  }
}


.top-shadow{
 display: flex;
  height: 80px;
  z-index: 999;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

@media screen and (max-width: 560px) {
  .container {
    flex-direction: column;
  }

  .header {
    background-color: gray;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
    h1 {
      font-weight: 500;
      font-size: 34px;
      letter-spacing: 0.25px;
      margin-bottom: 0;
    }
  }

  .body {
    flex-direction: column;
  }

  .section:first-child{
    display: none;
  }
  
  .section:last-child{
    width: 100%;
  }

  .advertisement-card {
    width: 300px;
    // height: 100%;
    margin-bottom: 32px;
    justify-content: start;
    height: auto;

  .card-content {
    flex-direction: column;
    height: auto;
    margin-left: 0;
  }
  
  .card-text {
    margin: 32px 0 0 0;
    padding-left: 4px;
    padding-right: 4px;
  }

  .card-image {
    width: 100%;
  }

  .card-header {
    margin-left: 0px;
    margin-bottom: 24px;
  }
}
}

