.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #fafafa;
}

.login-card {
    display: flex;
    flex-direction: column;
    width: 400px;

    .form {
        display: flex;
        flex-direction: column;
    }

    .footer{
        display: flex;
        justify-content: end;
    }
}